/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/

body {
    background-color: #bdc3c7;
}

h1, ul {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.profil {
    width: 250px;
    background-color: #31363b;
    color: #bdc3c7;
}

p {
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.foto {
    width: 100%;
    position: relative;
}

.logo {
    position: absolute;
    left: 180px;
    top: 140px;
    width: 60px;
    height: 60px;
    background-color: #b92e81;
    border-radius: 30px;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, .5);
}

li {
    display: inline-block;
    padding: 0;
    margin: none;
    margin-left: 0px;
    font-variant: small-caps;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 0;
    margin: 0em;

}

.odkazy {
    width: 100%;
    margin: 0;
    padding: 0;
}

a:hover {
    background-color: #1da1f2;
    display: block;
}

.portfolio {
    left: 0;
    width: 100%;
    border: solid 1px white;
    border-top-width: 2px;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, .5);
}

.facebook {
    right: 0;
    width: 50%;
    border: solid 1px white;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, .5);
}

.twitter {
    width: 50%;
    border: solid 1px white;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, .5);
}